.cart--view {
    display:flex;
    flex-direction: column;
    flex-grow: none;
    max-width: 20rem;
    min-height: 80vh;
    padding-bottom: 10rem; 
}

.cart--view img {
    height: 20rem;
}

.cart--content {
    margin-top: 6rem;
    position: relative;
    background-color: rgba(152, 255, 152, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart--empty {
    background-image: url(https://iticsystem.com/img/empty-cart.png);
    min-height: 80vh;
    width: 45rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 10rem; 
}

.cart--checkout {
    margin: 1rem;
    color: green;
    top: 0;
    right: 0;

    align-self: flex-end;
}