.header {
    background-color: #add8e6;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header * {
    margin: 0.5rem 1rem;
  }

  .header *:last-child {
    margin-right: 1.5rem;
  }
  
  .logo {
    background-image: url(https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6ki...6CrRdMkR3NwXs1M3EMoAJtlSUrhvtv...Pw7);
    background-size: cover;
    background-position: center center;
    width: 160px;
    height: 40px;
    margin-right:auto;
  }
  
  .cart--logo {
    background-image: url(https://cdn2.mageplaza.com/media/shopify_appicons//1faeabde14214dfb782e66a6406c46a9.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .price {
    height: 32px;
    line-height: 32px;
    padding: 0 2rem 0 2rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  
  .content {
    margin-top: 6rem;
    min-height: 80vh;
    position: relative;
    background-color: #98ff98;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem; 
  }
  
  .content > div {
    margin: .8rem;
  }