* {
  margin:0;
  padding:0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  max-width: 100%;
  position: relative;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.cart {
  background-color: #e0ffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}